<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ojm.mapper.JobMapper">
	<select id="getJlistWithPaging" resultType="org.ojm.domain.JobVO">
		<![CDATA[
			select jno, sno, jaddress, jtitle, jwriter, jdate, jview, jupdatedate
			from
				(select /*+INDEX_DESC(job pk_job) */
				rownum rn, jno, sno, jaddress, jtitle, jwriter, jdate, jview, jupdatedate from job
				where]]>
				<![CDATA[
				rownum <= #{pageNum} * #{amount})
				where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getJtotalCount" resultType="int">
		select count(*) from job
	</select>
	
	<insert id="jInsert" parameterType="org.ojm.domain.JobVO">
		insert into job(jno, uno, sno, jaddress, jtitle, jwriter, jdate, salary, jday, starttime, endtime, jcontent) values(seq_jno.nextval, #{uno}, #{sno}, #{jaddress}, #{jtitle}, #{jwriter}, sysdate, #{salary}, #{jday}, #{starttime}, #{endtime}, #{jcontent})
	</insert>
	
	<select id="jRead" resultType="org.ojm.domain.JobVO" parameterType="int">
		select * from job where jno = #{jno}
	</select>
	
	<update id="updateJview" parameterType="int">
		update job set jview = jview+1 where jno = #{jno}
	</update>
	
</mapper>