<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ojm.mapper.JobSendMapper">
	<insert id="jsInsert" parameterType="org.ojm.domain.JobSendVO">
		insert into jobsend(jsno, jno, uno, sno, career, pobu, jsdate, sname) values(seq_jsno.nextval, #{jno}, #{uno}, #{sno}, #{career}, #{pobu}, sysdate, #{sname})
	</insert>
</mapper>